hr {
height: 1px;
border: none;
border-top: 1px #000000 dotted;
}

body {
  font-size: 12px;
  color:#333333;
  border:0px;
  margin:0px;
  padding:0px;
}

img {
border:0px;
margin:0px;
padding:0px;
}

table {
    font-size: 12px;
    color:#333333;
  border:0px;
  margin:0px;
  padding:0px;
}
.StarColor {
  color: #FF3300;
  font-weight: bold;
}
A:link {
  color: #330000;
  text-decoration: none
}
A:visited {
  color: #330000;
  text-decoration: none
}
A:active {
  color: #330000;
  text-decoration: underline�G
}
A:hover {
  color: #330000;
  text-decoration: underline;
}

ul.pager {
    list-style:none;
    font-size: 15px;
      margin: 0px;
}
ul.pager li {
   list-style:none;
      float: left;
      margin-right: 5px;
      border: 1px #666666 solid;
      font-weight: bold;
}
ul.pager li.prev,
ul.pager li.next {
    list-style:none;
      border: none;
}
ul.pager li a {
    list-style:none;
      position: relative;
      display: block;
      padding: 3px 8px;
      color: #666666;
}
ul.pager li a:link,
ul.pager li a:visited {
    list-style:none;
      text-decoration: none;
}
ul.pager li a:hover,
ul.pager li a:active {
    list-style:none;
      background-color: #CCCCCC;
      text-decoration: none;
}
ul.pager li em {
    list-style:none;
      display: block;
      padding: 3px 8px;
      background: #666666;
      color: #FFFFFF;
}